.A_Logo {
  > img {
    width: 2.36vw;
    height: auto;
  }
}

.A_chip {
  display: flex;
  padding: 0.69vw 1.39vw;
  border-radius: 2.78vw;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease;

  &:hover {
    background: var(--Carbon-Black);

    > li {
      color: var(--White);
    }
  }

  &.A_chip--active {
    background: var(--White);

    > li {
      color: var(--Onyx);
    }
  }

  > li {
    color: var(--Dim-Grey);
    transition: color 0.3s ease;
  }
}

.A_searchButton {
  position: absolute;
  right: 0.35vw;
  top: 0.35vw;
  display: flex;
  width: 6.6vw;
  height: 1.67vw;
  padding-top: 0.07vw;
  justify-content: center;
  align-items: center;
  gap: 0.69vw;
  border-radius: 2.78vw;
  border: 0.07vw solid var(--Dim-Grey);
  background: var(--Dim-Grey);
  color: var(--White);
}

.A_button {
  display: flex;
  width: fit-content;
  padding: 1.15vw 1.39vw 1.01vw 1.39vw;
  justify-content: center;
  align-items: center;
  gap: 0.69vw;
  border-radius: 3.13vw;
  border: 1px solid var(--Graphite);
  background: var(--Carbon-Black);
  color: var(--White);
  transition: background 0.3s ease;

  &:hover {
    background: #3a3a3a;
  }

  > img {
    width: 0.69vw;
    height: auto;
  }
}

.A_tag {
  display: flex;
  min-width: 8.61vw;
  padding: 0.42vw 1.39vw 0.35vw 1.39vw;
  justify-content: center;
  align-items: center;
  gap: 0.69vw;
  z-index: 11;
  border-radius: 1.74vw;
  color: var(--White);
  font-size: 0.97vw;
}

.A_tag--active {
  background: var(--Dim-Grey);
}

.A_testFacts,
.A_testMeta {
  color: #cac0c0;
}

.A_testTitle {
  color: var(--White);
}

.A_searchPageDesc,
.A_searchPageMeta {
  color: var(--Dim-Grey);
  font-size: 0.97vw;
}

.A_articleSplitLeft {
  width: fit-content;
  flex-shrink: 0;
  background: none;
  color: var(--White);
  font-size: 1.25vw;
  background-color: var(--Indigo);
  line-height: 130%;
}

.A_venueHighlight {
  color: var(--Amber-Honey);
}

.A_articleListItem {
  display: flex;
  align-items: flex-start;
  gap: 1.04vw;
  color: var(--White);
  line-height: 150%;
}

.A_articleScrollBtn {
  display: flex;
  width: fit-content;
  padding: 0.97vw 1.67vw;
  justify-content: center;
  align-items: center;
  margin-top: 6.04vw;
  gap: 0.69vw;
  border-radius: 3.13vw;
  border: 1px solid var(--Dim-Grey);
  background: transparent;
  color: var(--White);
}
