.C_listFooter {
  display: flex;
  flex-direction: column;
  gap: 0.69vw;

  > p,
  a {
    color: var(--Dim-Grey);
  }
}

.C_Chips {
  display: flex;
  align-items: center;
  gap: 1.39vw;
}

.С_Articles {
  display: flex;
  align-items: center;
  gap: 1.46vw;
}

.C_tagsMainScreen {
  width: 44.5vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.18vw 2.08vw;

  .A_tag {
    width: fit-content;

    &:nth-child(1) {
      background: var(--Indigo);
    }
    &:nth-child(2) {
      background: var(--Wild-Strawberry);
    }
    &:nth-child(3) {
      background: var(--Red-Ochre);
    }
    &:nth-child(4) {
      background: var(--Blaze-Orange);
    }
    &:nth-child(5) {
      background: var(--Amber-Honey);
    }
    &:nth-child(6) {
      background: #328f6e;
    }
    &:nth-child(7) {
      background: var(--Vibrant-Coral);
    }
  }
}

.C_folderItems {
  position: relative;

  > img {
    position: absolute;
    width: 10.42vw;
    height: 10.42vw;
    transition: transform 0.3s ease;

    &:nth-child(1) {
      top: -2.15vw;
      left: -1.18vw;
      transform: rotate(-15deg);
    }
    &:nth-child(2) {
      top: -4.44vw;
      left: 3.84vw;
      transform: rotate(-5deg);
      z-index: 1;
    }
    &:nth-child(3) {
      top: -3.83vw;
      left: 10.34vw;
      transform: rotate(10deg);
    }
    &:nth-child(4) {
      top: -1vw;
      left: 16.02vw;
      transform: rotate(25deg);
    }
  }
}

.C_postsExamples {
  position: relative;
  height: 21.06vw;

  > img {
    position: absolute;
    width: 9.72vw;
    height: 9.72vw;

    &:nth-child(1) {
      transform: rotate(-20deg);
      top: 9.52vw;
      left: 1.81vw;
    }
    &:nth-child(2) {
      top: 4.86vw;
      left: 8.47vw;
    }
    &:nth-child(3) {
      transform: rotate(-10deg);
      top: 1.24vw;
      left: 17.28vw;
    }
    &:nth-child(4) {
      top: 0.35vw;
      left: 26.67vw;
    }
    &:nth-child(5) {
      transform: rotate(10deg);
      top: 1.31vw;
      left: 35.89vw;
    }
    &:nth-child(6) {
      transform: rotate(5deg);
      top: 3.91vw;
      left: 44.74vw;
    }
    &:nth-child(7) {
      transform: rotate(20deg);
      top: 8.48vw;
      left: 51.4vw;
    }
  }
}

.С_tagsList {
  display: flex;
  gap: 0.69vw;
  flex-wrap: wrap;

  .A_tag {
    width: fit-content;
    min-width: auto;
    background: var(--Graphite);
  }

  .A_tag--active {
    background: var(--Dim-Grey);
  }
}

.C_articlesGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.39vw;
}

.С_Tests {
  display: flex;
  justify-content: space-between;
}

.C_eventList {
  display: flex;
  flex-wrap: wrap;
  gap: 1.39vw;
  height: 38.96vw;
  padding-bottom: 1.39vw;
  overflow: scroll;
}

.C_testsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.39vw;
}

.C_searchGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.39vw;
}

.C_searchPageGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.39vw;
}

.C_articleList {
  display: flex;
  flex-direction: column;
  gap: 1.39vw;
  padding: 0;
  list-style: none;
  margin: 0;
}
