.O_Header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.O_aboutSection {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1.6vw;
}

.O_promoArticles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5.56vw;
  width: 75.83vw;
  height: 32.92vw;
  margin: 0 auto;
}

.O_ArticlesShowcase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3.26vw;
}

.O_mainScreenSection {
  > img {
    margin-top: -13.82vw;
    width: calc(100% + 3.47vw * 2);
    margin-left: -3.47vw;
    height: auto;
  }
}

.O_dogsPhotoArea {
  width: 100%;
  height: 29.24vw;
  display: flex;
  position: relative;
  justify-content: center;

  > img {
    position: absolute;
    width: 3.76vw;
    height: 3.76vw;

    &:nth-child(1) {
      top: 3.96vw;
      left: 3.82vw;
    }
    &:nth-child(2) {
      top: 13.33vw;
      left: 15.76vw;
    }
    &:nth-child(3) {
      top: 24.79vw;
      left: 0;
    }
    &:nth-child(5) {
      top: 3.96vw;
      right: 1.25vw;
    }
    &:nth-child(6) {
      top: 15.07vw;
      right: 15.76vw;
    }
    &:nth-child(7) {
      top: 24.1vw;
      right: 0;
    }
  }
}

.O_aboutMedia {
  width: 62.93vw;
  height: 21.94vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.O_articlesPage {
  display: flex;
  flex-direction: column;
  gap: 3.47vw;
  margin: 10.9vw auto 10.42vw auto;
}

.O_riskMapPage {
  margin: 10.97vw auto 9.1vw auto;
  height: 55vw;
  display: flex;
  width: 100%;
  gap: 1.39vw;
}

.О_recomendedMapScreen {
  display: flex;
  flex-direction: column;
  width: 45.83vw;
  gap: 1.39vw;
  border-radius: 1.74vw;
  background: var(--Carbon-Black);

  .С_tagsList {
    display: flex;
    padding: 1.39vw 2.08vw 2.08vw 1.39vw;
    align-items: center;
    align-content: center;
    gap: 0.69vw;
    border-radius: 1.74vw 1.74vw 0 0;
    background: var(--Carbon-Black);

    .A_tag--active {
      background: var(--Wild-Strawberry);
    }
  }
}

.O_testsPage {
  margin: 10.42vw auto 5vw auto;
  display: flex;
  flex-direction: column;
  gap: 3.47vw;
}

.O_articleView {
  margin: 10.42vw auto 10.42vw auto;
  display: flex;
  gap: 3.47vw;
  align-items: flex-start;
}
