.Q_footerImage {
  position: absolute;
  bottom: 3.19vw;
  right: 27.03vw;
  width: 8.8vw;
  height: auto;
}

.Q_searchIcon {
  position: absolute;
  left: 0.69vw;
  top: 0.69vw;
  width: 1.04vw;
  height: auto;
}

.Q_photo {
  width: 37.5vw;
  height: 29.17vw;
  border-radius: 1.74vw;
}

.Q_galleryPhoto {
  position: absolute;
  top: 2.36vw;
  width: 26.22vw;
  height: 17.7vw;
  border-radius: 1.74vw;
  transform: perspective(55.56vw) rotateY(45deg);
  object-fit: cover;
  z-index: 10;

  &:nth-child(1) {
    left: -1.74vw;
    object-position: 0vw -6.94vw;
  }
  &:nth-child(2) {
    left: 15.63vw;
  }
  &:nth-child(3) {
    left: 32.99vw;
    object-position: 0vw -5.56vw;
  }
  &:nth-child(4) {
    left: 50.35vw;
    object-position: 0vw -13.89vw;
  }
}

.Q_Like {
  position: absolute;
  bottom: 0.69vw;
  right: 0.69vw;
  width: 2.43vw;
  height: 2.43vw;
  border-radius: 2.43vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--Dim-Grey);
}

.Q_lineParagraph {
  width: 100%;
  height: 0.07vw;
  background: var(--Graphite);
}

.Q_listBullet {
  width: 0.61vw;
  height: 0.61vw;
  border-radius: 50%;
  background: var(--Blaze-Orange);
  flex-shrink: 0;
  margin-top: 0.55vw;
}

@media screen and (max-width: 767px) {
  .Q_searchOverlayIcon {
    position: absolute;
    top: 50%;
    left: 4.55vw;
    transform: translateY(-50%);
    width: 5vw;
    height: auto;
    filter: brightness(0) invert(1);
  }

  .Q_footerImage {
    right: 3.41vw;
    bottom: 5.68vw;
    width: 23.64vw;
  }

  .Q_photo {
    width: 100%;
    height: 51.82vw;
    border-radius: 5.68vw 5.68vw 0 0;
    object-fit: cover;
  }

  .Q_listBullet {
    width: 1.61vw;
    height: 1.61vw;
    border-radius: 50%;
    background: var(--Blaze-Orange);
    flex-shrink: 0;
    margin-top: 2.55vw;
  }

  .Q_galleryPhoto {
    position: absolute;
    left: 15.45vw !important;
    width: 54.73vw;
    height: 50vw;
    border-radius: 5.68vw;
    transform: perspective(33.56vw) rotateX(-20deg);
    object-fit: cover;
    object-position: center;

    &:nth-child(1) {
      top: 6.82vw;
    }
    &:nth-child(2) {
      top: 45vw;
    }
    &:nth-child(3) {
      top: 84vw;
    }
    &:nth-child(4) {
      top: 122vw;
    }
  }
}
