.Q_footerImage {
  position: absolute;
  bottom: 3.19vw;
  right: 27.03vw;
  width: 8.8vw;
  height: auto;
}

.Q_searchIcon {
  position: absolute;
  left: 0.69vw;
  top: 0.69vw;
  width: 1.04vw;
  height: auto;
}

.Q_photo {
  width: 37.5vw;
  height: 29.17vw;
  border-radius: 1.74vw;
}

.Q_galleryPhoto {
  position: absolute;
  top: 2.36vw;
  width: 26.22vw;
  height: 17.7vw;
  border-radius: 1.74vw;
  transform: perspective(55.56vw) rotateY(45deg);
  object-fit: cover;
  z-index: 10;

  &:nth-child(1) {
    left: -1.74vw;
    object-position: 0vw -6.94vw;
  }
  &:nth-child(2) {
    left: 15.63vw;
  }
  &:nth-child(3) {
    left: 32.99vw;
    object-position: 0vw -5.56vw;
  }
  &:nth-child(4) {
    left: 50.35vw;
    object-position: 0vw -13.89vw;
  }
}

.Q_Like {
  position: absolute;
  bottom: 0.69vw;
  right: 0.69vw;
  width: 2.43vw;
  height: 2.43vw;
  border-radius: 2.43vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--Dim-Grey);
}

.Q_lineParagraph {
  width: 100%;
  height: 0.07vw;
  background: var(--Graphite);
}

.Q_listBullet {
  width: 0.42vw;
  height: 0.42vw;
  border-radius: 50%;
  background: var(--Blaze-Orange);
  flex-shrink: 0;
  margin-top: 0.35vw;
}
