.Q_openFlowersImage {
  width: 100%;
  height: auto;
}

.Q_folderBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 58.43vw;
  height: 27.73vw;
  border-radius: 1.38vw;
  background: #222121;

  &:nth-child(2) {
    top: -2.22vw;
    left: 1.53vw;
    z-index: 3;
  }
  &:nth-child(3) {
    width: 52.91vw;
    top: -4.44vw;
    left: 3.06vw;
    background: #2f2d2d;
    z-index: 2;
  }
}

.Q_folderBackgroundArticles {
  width: 73.47vw;

  &:nth-child(3) {
    width: 66.53vw;
    left: 5.42vw;
  }
}

.Q_Banners {
  font-size: var(--banners);
  color: var(--white);
  display: flex;
}

.Q_Banners::after {
  content: '%';
  font-size: var(--h3);
  color: var(--white);
}

.Q_Adds {
  font-size: var(--adds);
  color: var(--white);
}

.Q_Card {
  width: 10.63vw;
  height: 10.63vw;
  border-radius: 1.04vw;
}

.Q_Button {
  display: flex;
  gap: 0.83vw;
  background-color: var(--white);
  color: var(--darkGray);
  font-size: var(--p);
  padding: 0.69vw 1.39vw;
  height: fit-content;
  border-radius: 2.78vw;
  cursor: pointer;
  transition: all 0.3s ease;
}

.Q_Button:hover {
  background-color: var(--lightGray);
}

.Q_Button::after {
  content: url('../../images/arrow.svg');
  width: 0.9vw;
}

.Q_Card—first {
  position: absolute;
  left: 16vw;
  bottom: 1.39vw;
  rotate: -20deg;
  z-index: 3;
}

.Q_Card—second {
  position: absolute;
  left: 22vw;
  bottom: 8.33vw;
  z-index: 2;
}

.Q_Card—third {
  position: absolute;
  left: 32vw;
  bottom: 11.11vw;
  rotate: -10deg;
  z-index: 2;
}

.Q_Card—fourth {
  position: absolute;
  left: 42vw;
  bottom: 11.81vw;
  z-index: 1;
}

.Q_Card—fifth {
  position: absolute;
  left: 52vw;
  bottom: 11.11vw;
  rotate: 10deg;
  z-index: 2;
}

.Q_Card—sixth {
  position: absolute;
  left: 62vw;
  bottom: 8.33vw;
  rotate: 5deg;
  z-index: 1;
}

.Q_Card—seventh {
  position: absolute;
  left: 68vw;
  bottom: 2.08vw;
  rotate: 20deg;
  z-index: 2;
}

.Q_lineParagraph {
  width: 0.14vw;
  background-color: var(--white);
  align-self: stretch;
}

.Q_listBullet {
  width: 0.91vw;
  height: 0.91vw;
  border-radius: 50%;
  background: var(--Blaze-Orange);
  flex-shrink: 0;
  margin-top: 2.35vw;
}

@media screen and (max-width: 767px) {
  .Q_searchOverlayIcon {
    position: absolute;
    top: 50%;
    left: 4.55vw;
    transform: translateY(-50%);
    width: 5vw;
    height: auto;
    filter: brightness(0) invert(1);
  }

  .Q_footerImage {
    right: 3.41vw;
    bottom: 5.68vw;
    width: 23.64vw;
  }

  .Q_photo {
    width: 100%;
    height: 51.82vw;
    border-radius: 5.68vw 5.68vw 0 0;
    object-fit: cover;
  }

  .Q_galleryPhoto {
    position: absolute;
    left: 15.45vw !important;
    width: 54.73vw;
    height: 50vw;
    border-radius: 5.68vw;
    transform: perspective(33.56vw) rotateX(-20deg);
    object-fit: cover;
    object-position: center;

    &:nth-child(1) {
      top: 6.82vw;
    }
    &:nth-child(2) {
      top: 45vw;
    }
    &:nth-child(3) {
      top: 84vw;
    }
    &:nth-child(4) {
      top: 122vw;
    }
  }
}
