.SO_Footer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5.49vw;
  width: 100%;
  padding: 3.19vw 1.74vw;
  border-radius: 1.74vw;
  background: var(--Carbon-Black);
}

.SO_indexPage {
  margin: 12.78vw 0 10.42vw;
  display: flex;
  flex-direction: column;
  gap: 10.42vw;
}
