.SO_Footer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5.49vw;
  width: 100%;
  padding: 3.19vw 1.74vw;
  border-radius: 1.74vw;
  background: var(--Carbon-Black);
}

.SO_indexPage {
  margin: 12.78vw 0 10.42vw;
  display: flex;
  flex-direction: column;
  gap: 10.42vw;
}

.SO_specialPage {
  min-height: 100vh;
  padding: 12.43vw 0;
  background: var(--Onyx);
  display: flex;
  flex-direction: column;
  gap: 3.47vw;
}

@media screen and (max-width: 767px) {
  .SO_specialPage {
    padding: 27.27vw 0;
    gap: 11.36vw;
  }

  .SO_Footer {
    gap: 16.36vw;
    width: 100%;
    padding: 5.68vw 3.41vw;
    border-radius: 5.68vw;
  }

  .SO_indexPage {
    margin: 4.55vw 0 31.82vw;
    gap: 31.82vw;
  }
}
