@font-face {
  font-family: 'TT Norms Regular';
  src: url('../fonts/TT_Norms_Pro_Mono_Trial_Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Medium';
  src: url('../fonts/TT_Norms_Pro_Mono_Trial_Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Travels Bold';
  src: url('../fonts/TT_Travels_Next_Trial_Bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
