:root {
  --Carbon-Black: #1a1919;
  --Onyx: #0f0e0e;
  --Dim-Grey: #767070;
  --White: #ffffff;
  --Graphite: #292929;
  --Amber-Honey: #e2aa00;
  --Pumpkin-Spice: #fe8640;
  --Blaze-Orange: #ff5e00;
  --Wild-Strawberry: #fb4d8d;
  --Red-Ochre: #d92200;
  --Vibrant-Coral: #f15551;
  --Indigo: #500d85;
  --Sea-Green: #328f6e;

  --h2: 2.5vw;
}
