<footer class="SO_Footer">
  <div class="W_footerHigher">
    <div class="W_about">
      <img src="<%= basePath %>images/LogoBig.svg" alt="Логотип" />
      <p class="tag">
        Медиа‑сервис о счастливой жизни собакенов и их хозяев в большом
        мегаполисе
      </p>
    </div>
    <div class="W_footerChip">
      <p class="tag">Разделы</p>
      <div class="C_listFooter">
        <a class="tag" href="/">Главная</a>
        <a class="tag" href="/articles">Статьи</a>
        <a class="tag" href="/events">Event-карта</a>
        <a class="tag" href="/tests">Тесты</a>
      </div>
    </div>
    <div class="W_footerChip">
      <p class="tag">Соцсети</p>
      <div class="C_listFooter">
        <a class="tag" href="https://t.me/karambol_info" target="_blank"
          >Telegram</a
        >
        <a class="tag" href="/">Нельзяграм</a>
        <a class="tag" href="/">Дзен</a>
      </div>
    </div>
    <div class="W_footerChip">
      <p class="tag">Контакты</p>
      <div class="C_listFooter">
        <p class="tag">hello@karambol.ru</p>
        <p class="tag">+7 495 000 00 00</p>
      </div>
    </div>
    <div class="W_footerChip">
      <p class="tag">Проект сделали</p>
      <div class="C_listFooter">
        <p class="tag">Екатерина Демьянец</p>
        <p class="tag">Анна Комкова</p>
        <p class="tag">Дарья Зародина</p>
      </div>
    </div>
  </div>

  <div class="W_footerLower">
    <p class="tag">Карамболь · 2026</p>
    <p class="tag">Сделано в НИУ ВШЭ · Школа Дизайна</p>
  </div>

  <img src="<%= basePath %>images/FooterImage.svg" alt="" class="Q_footerImage" />
</footer>
