<div class="O_menuOverlay" id="menuOverlay"></div>

<header>
  <nav class="O_Header">
    <div class="W_headerPart">
      <a href="index.html" class="A_Logo">
        <img src="images/logo.svg" alt="" />
      </a>

      <ul class="C_Chips">
        <a href="/" class="A_chip"><li>Главная</li></a>
        <a href="map.html" class="A_chip"><li>Ивент-карта</li></a>
        <a href="articles.html" class="A_chip"><li>Статьи</li></a>
        <a href="tests.html" class="A_chip"><li>Тесты</li></a>
      </ul>
    </div>

    <div id="search-root"></div>
  </nav>
</header>
